body
{
	font-family: Verdana;
	background-image: url(repeat.jpg) ;
	background-repeat: repeat;
}
h1
{
	border-bottom: 2px solid #998500;
}

#container
{
	width: 1000px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}

#header
{
	width: 700px;
	height: 120px;
	margin-left: 30px;
	margin-top:20px;
	font-size: 30px;
	color: white;
}
#text
{
	background: white;
	width: 485px;
	height: 470px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 30px;

}
.content
{
	width: 500px;
	height: 500px;
	float: left;
}

.kafelki
{
	width: 214px;
	height: 214px;
	float: left;
	border: solid white 3px;
	margin-left: 30px;
	margin-top: 30px;
}
#foto1
{
  	width: 214px;
	height: 214px;  
}
#foto2
{
	width: 214px;
	height: 214px;
		
}
#foto3
{
	width: 214px;
	height: 214px;

}
#foto4
{
	width: 214px;
	height: 214px;

}